/* PatternedBackground.css */
.patterned-background {
  background-color: #f5f5f5; /* Fallback color */
  color: #333; /* Text color for contrast */
  padding: 20px;
  height: 85vh;
  background: url('') right/30% no-repeat; /* Keep the image on the right side */
  /* Additional styling as needed */
  display: flex; /* Use flexbox for layout */
  align-items: center; /* Center content vertically */
   
}

.patterned-background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('https://t4.ftcdn.net/jpg/04/32/82/61/360_F_432826131_mjSggw79w1ct7ywAfdzjGr9nzcJIqpBT.jpg') center/cover no-repeat;
  background-size: 100%; /* Decrease the size of the background image to 50% */
  z-index: -1;
  padding-top: 320px;
  
}

.content {
  max-width: 1200px; /* Limit content width */
  margin-left: 20px; /* Add space on the left for the text */
}

.vulnerability-text {
  font-weight: bold; /* Make the text bold */
  color:black; /* Text color that suits the background */
  font-size: 24px; /* Adjust font size as needed */
  
}

/* App.css */

/* App.css */

.scrolling-text {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  padding-top: 170px;
  padding-bottom: 20px;
}

.scrolling-item {
  display: inline-block;
  animation: scrollText 20s linear infinite;
  font-size: 50px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-weight: bold;
}

@keyframes scrollText {
  0% {
    transform: translateX(100%); /* Start from the right side */
  }
  100% {
    transform: translateX(-100%); /* Scroll to the left side */
  }
}

/* YourComponent.css */

/* PatternedBackground.css */
/* Add this CSS to remove lines and gaps between sections */
.container {
  display: flex;
  flex-wrap: wrap;
  gap: 0; 
  /* This removes the gap between sections */
}

.left {
  flex: 1; /* This makes the left content take up half the width */
  padding: 20px; /* Add padding as needed */
}

.right {
  flex: 1; /* This makes the right content take up half the width */
  padding: 20px; /* Add padding as needed */
}

/* Add any other CSS styles you need for the individual sections */


img {
  max-width: 100%; /* Ensure the image doesn't exceed its container's width */
}



/* Additional styling for the paragraph text can be added here */