.container {
  font-family: "Calibri", sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  
  padding-left: 160px;
  padding-right: 160px;
  padding: 20px;
 
  color: black;
  font-weight: 100;
 
  background-color: #fff5ee; 
}




.side {
  display: flex;
  align-items: center;
  padding: 10px;
  padding-left: 150px;

}

.side img {
width: 250px; /* Adjust the image size as needed */
height: 50px;

}


.side-content {
  display: flex;
  margin-top: 20px; /* Increase the margin-top to move it down */
  margin-left: 10px;
  font-size: 35px;
  font-weight: 600;
 
}


.buttons {
  display: flex;
  gap: 70px;
  margin-right: 250px;
   /* Adjust the spacing between buttons */
}

.buttons button {
  padding: 10px 20px; /* Increase padding for buttons */
  color:black;
  border: none;
  cursor: pointer;
  font-size: 23px; /* Increase font size */
  font-weight: 600; /* Increase font weight */
  border-radius: 5px;
  background-color: #fff5ee;
  
 /* Add border-radius for slightly curved surface */
 
 /* Add transition for smooth hover effect */
}

.buttons button:hover {
  

 
  color:#1e90ff ;/* You can adjust the color and width */

   /* Change background color on hover */
  
   /* Hide outline on hover */
}
/* Align buttons to the right side */
.container .buttons {
  margin-left: auto;
  
}